tr {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
}

table {
  margin-top: 2em;
  padding: 2em;
  border: 1px solid;
  border-radius: 0.5em;
  width: 99vw;
}

input {
  width: 2em;
}

.btnEdit {
  background-color: rgb(200, 182, 255);
  width: 8em;
  height: 2em;
}

.btnDelete {
  background-color: rgb(187, 208, 255);
  width: 8em;
  height: 2em;
}

.btnSave {
  background-color: rgb(231, 198, 255);
  width: 8em;
  height: 2em;
}
